@model Job

<form method="post" asp-action="Apply" enctype="multipart/form-data">
    @if (Model != null)
    {
        <input name="JID" hidden value=@Model.Id />
    }
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Upload Your CV</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label for="CV"></label>
            <input type="file" name="CV" class="form-control" />
            <p>@ViewBag.CVError</p>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            Submit
        </button>
        <a asp-controller="Job" asp-action="Details" asp-route-id=@ViewBag.JobId class="btn btn-secondary" style="width:150px">
            Back To Job
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}